<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style type="text/css">
    @media only screen and (max-width: 480px) {
      table[class="contain"] {
        width: 100% !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
      }

    }

</style>
</head>
<body>

     <!-- Email wrapper START -->
<table width="100%" align="center"  cellpadding="0" cellspacing="0" class="contain">
        <tbody>
          <tr>
            <td align="center">
              <!-- Email START -->
              <table width="600" cellpadding="0" cellspacing="0" class="contain" style="background-color:white; -webkit-box-shadow: 0px -1px 14px rgba(50, 50, 50, 0.67); -moz-box-shadow: 0px -1px 14px rgba(50, 50, 50, 0.67); box-shadow: 0px -1px 14px rgba(50, 50, 50, 0.67);">
                <tbody>
                  <tr>
                    <td align="center">


                        <!-- head start-->
<table width="600" cellpadding="0" cellspacing="0" style="background-color:gainsboro; padding-left: 35px; padding-right: 35px;"
class="contain">
<tbody>
  <tr>
    <td valign="top">
      <table width="100%" align="left" cellpadding="0" cellspacing="0" class="contain">
        <tbody>
          <tr>
            <td align="left" width="250" style="padding-top: 15px; padding-bottom: 15px;font-family: Arial, Helvetica, sans-serif; font-size:12px; color:white; 
    ">
              Have a Happy Easter with SusieCakes!
            </td>
            <td align="right" width="250" style="font-family: Arial, Helvetica, sans-serif; font-size:14px; color:white; 
     padding-top: 15px; padding-bottom: 12px;"
              ><a href="#" style="font-size:13px;color:white;">Viev this email in your browser</a>
              </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>
<!-- head end -->






                </td>
            </tr>
          </tbody>
        </table>
        <!-- Email END -->
      </td>
    </tr>
  </tbody>
</table>
<!-- Email wrapper END -->
</body>

</html>

